.section-heading {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.sub-heading {
  text-align: center;
  font-family: sans-serif;
  color: #333;
  margin: 30px;
}

.my-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .my-container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .my-container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .my-container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .my-container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .my-container {
    width: 1400px;
  }
}
