* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  #headerContainer {
    width: 90%;
    margin: auto;

    #headerContents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      h1#brandLogo {
        font-size: 2.8rem;
        font-weight: 900;
      }

      nav#navbar {
        display: block;

        ul {
          display: flex;

          li {
            font-weight: 800;
            font-size: 14px;
            list-style: none;
            padding: 2.5rem 1.1rem;
          }
        }
      }
    }
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: #000;

  #heroImg {
    width: 100%;
    height: 100%;
    background-image: url("../assets/mac.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  #heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    h1 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 56px;
      margin-bottom: 30px;
    }

    p {
      width: 70%;
      margin: 0 auto 30px auto;
      font-size: 1.1rem;
    }

    button {
      color: #fff;
      background-color: #00acc1;
      border: none;
      padding: 15px 30px;
      border-radius: 25px;
      font-size: 0.8rem;
      cursor: pointer;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

section#about {
  background: url(../assets/about-bg.jpg) no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;

  .my-container {
    #aboutContent {
      width: 100%;
      position: relative;
      z-index: 10;

      #aboutCards {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-around;

        .card {
          width: 31%;
          text-align: center;
          background-color: #f3f3f3;
          line-height: 2;

          img {
            width: 100%;
          }

          h3 {
          }

          p {
            margin: 0;
            font-size: 13px;
            line-height: 24px;
            color: #333;
            margin-bottom: 0;
            padding: 0 20px 20px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section#about > .my-container > #aboutContent > #aboutCards {
    display: block !important;

    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

section#about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}
